<%= form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
<% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :order_status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :order_status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payment_method, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :payment_method, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shipping_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shipping_address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shipping_city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shipping_city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :customer_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :customer_last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_last_name, :class => 'text_field' %>
    </div>
  </div>
  
  <%= f.fields_for :line_items do |builder| %>
      <%= render "line_item_fields", f: builder %>
    <% end %>

  <%= link_to_add_fields "Add product", f, :line_items %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),orders_path, :class => 'btn' %>
  </div>
<% end %>
